<div class="app">
      
      <div class="containerMain">
        <div class="row">
          <div id="header">
              
      <nav id="navmain">
        <ul id="nav">
          <li>
          <a routerLink="/" routerLinkActive="active" >Home</a>
          </li>
           <li>
          <a routerLink="/about" routerLinkActive="active" >About Us</a>
          </li>
             <li>
          <a routerLink="/services" routerLinkActive="active" >Services</a>
          </li>
              <li>
          <a routerLink="/calculators"  routerLinkActive="active">Calculators</a>
          </li>
          <li>
          <a routerLink="login"  routerLinkActive="active">Login</a>
          </li>
            <li>
          <a routerLink="register"  routerLinkActive="active">Register</a>
          </li>
            <li>
          <a routerLink="contact"  routerLinkActive="active">Contact Us</a>
          </li>
            
         
        </ul>
      </nav>
      </div>
       <main>
       
        <router-outlet></router-outlet>
      
      </main>
      
    </div>
       </div>
      