<div class="app">
      
      <div class="container">
          <div id="header">
              
      <nav id="navmain">
        <ul id="nav">
          <li>
          <a routerLink="/" routerLinkActive="active">Home</a>
          </li>
           <li>
          <a routerLink="/about"  >About Us</a>
          </li>
             <li>
          <a routerLink="/services"  >Services</a>
          </li>
              <li>
          <a routerLink="/calculators"  >Calculators</a>
          </li>
            <li>
          <a routerLink="contact"  >Contact Us</a>
          </li>
        </ul>
      </nav>
          </div>
      <main>
          <h1>{{title}}</h1>
        <router-outlet></router-outlet>
      </main>
      </div>
    </div>